In [39]:
seun = []
for x in range (1000,2200):
 if (x%7==0) and(x%5!=0):
    seun.append(str(x))
    print (x)

1001
1008
1022
1029
1036
1043
1057
1064
1071
1078
1092
1099
1106
1113
1127
1134
1141
1148
1162
1169
1176
1183
1197
1204
1211
1218
1232
1239
1246
1253
1267
1274
1281
1288
1302
1309
1316
1323
1337
1344
1351
1358
1372
1379
1386
1393
1407
1414
1421
1428
1442
1449
1456
1463
1477
1484
1491
1498
1512
1519
1526
1533
1547
1554
1561
1568
1582
1589
1596
1603
1617
1624
1631
1638
1652
1659
1666
1673
1687
1694
1701
1708
1722
1729
1736
1743
1757
1764
1771
1778
1792
1799
1806
1813
1827
1834
1841
1848
1862
1869
1876
1883
1897
1904
1911
1918
1932
1939
1946
1953
1967
1974
1981
1988
2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198

In [64]:
#Write a Python program to accept the user's first and last name and then getting them printed in the reverse order 
#with a space between first name and last name
def info(name):
    first = input("Enter your first name: ")
    surname = input("Enter your last name: ")
    return first, surname
info('info')

Enter your first name: Seun
Enter your last name: Sotayo

('Seun', 'Sotayo')

In [2]:
user = ('Seun Sotayo')
len('Seun Sotayo')
print ('Seun Sotayo'[::-1])

oyatoS nueS

In [8]:
#Write a program to take ten numbers from a user and display the minimum, mean, and maximum of the non-even numbers.
User=(1,2,3,4,5,6,7,8,9,10)
min(User)

1

In [7]:
max(User)

10

In [15]:
from statistics import mean 
  
def Average(Unit): 
    return mean(Unit) 
mean

In [16]:
def my_mean(Unit):
     return sum(Unit) / len(Unit)

my_mean([1,2,3,4,5,6,7,8,9,10])

5.5

In [25]:
Unit = [1,2,3,4,5,6,7,8,9,10] 
for num in Unit:  
    if num % 2 != 0: 
       print(num, end = " ")

1 3 5 7 9